In [3]:
#STRINGS BUILT IN FUNCTION
#STRINGS ARE ALWAYS WRITTEN UNDER SINGLE OR DOUBLE QUOTES

name = "Abhishek Singh Raghuvansi"
print(name)

Abhishek Singh Raghuvansi

In [10]:
type(name)

str

In [12]:
len(name)

25

In [26]:
#FIND FUNCTION Return the lowest index in S where substring sub is found.

name.find("i")

3

In [30]:
#FIND FUNCTION Return the lowest index in S where substring sub is found.
str2 = "APPLE"
str2.find("P")

1

In [24]:
#in case any data is not available in the during search. it will return -1
name.find("z")

-1

In [34]:
#COUNT IT RETURN THE TOTAL NUMBER OF DATA APPEARING
str2.count('P')

2

In [36]:
#UPPER CONVERT ALL LETTERS INTO UPPER CASE

s1 = "abhishek singh"
s1.upper()

'ABHISHEK SINGH'

In [50]:
#LOWER CONVERT ALL LETTERS INTO LOWER CASE 
s2 = "ABHiSHeK"
s2.lower()

'abhishek'

In [52]:
#SWAPCASE:- IT SWAP CAPITAL INTO SMALL AND SMALL INTO CAPITAL
s2.swapcase()

'abhIshEk'